__pycache__/
dist/
build/
.venv/

node_modules/
frontend/dist/

.env
.env.local
.env.*.local
backend/.env

backend/logs/*.log
*.log

backend/setting.json
backend/test.py
backend/test.md
frontend/src/test/
.test/