$dark-bg-1: #1c2125;
$dark-bg-2: #383b3e;
$dark-bg-3: #555656;
$dark-bg-4: #71706f;
$dark-text-4: #8e8b88;
$dark-text-3: #aaa5a1;
$dark-text-2: #c7c0b9;
$dark-text-1: #e3dad2;

@mixin theme($bg-1, $bg-2, $bg-3, $bg-4, $text-1, $text-2, $text-3, $text-4) {
    --bg-1: #{$bg-1}; 
    --bg-2: #{$bg-2};
    --bg-3: #{$bg-3};
    --bg-4: #{$bg-4};
    --text-1: #{$text-1};
    --text-2: #{$text-2};
    --text-3: #{$text-3};
    --text-4: #{$text-4};
}

// 預設淺色模式


// 深色模式
// .dark {
// //   @include theme($dark-bg, $dark-text);
// }
